.cell-selector
  position absolute
  z-index 10
  width 6rem
  height 8rem
  background #fff
  display flex
  flex-wrap wrap
  box-shadow 0 4px 12px rgba(0,0,0,.3)
  top 50%
  left 50%
  margin -3rem 0 0 -3rem
  border-radius 2px
  overflow hidden
  color #000
  border 1px solid rgba(0,0,0,.5)
  box-sizing content-box
  
  .cell:nth-child(n+1):nth-child(-n+9) &
    margin-top -1rem
  
  .cell:nth-child(n+64):nth-child(-n+72) &
    margin-top -5rem
  
  .cell:nth-child(n+73):nth-child(-n+81) &
    margin-top -7rem
  
  .cell:nth-child(9n) &
    margin-left -5rem
  
  .cell:nth-child(9n+1) &
    margin-left -1rem
  
  &.-enter
    opacity 0
    transform scale(0,0)
    
    &.-enter-active
      opacity 1
      transition all .2s
      transform scale(1,1)
  
  &.-leave
    opacity 1
    
    &.-leave-active
      opacity: 0
      transition all .2s
  
  &__item
  &__clear
    background #fff
    width calc(6rem / 3)
    height calc(6rem / 3)
    text-align center
    line-height 2rem
    user-select none
    border-right 1px solid #eee
    border-bottom 1px solid #eee
    
    &:nth-child(3n)
      border-right none
    
    &:nth-child(10)
      border-bottom none
    
    &:hover
      background #777
      color #fff
      cursor default
  
  &__clear
    width 100%
    border-right none