.cell
  $cell-border-color = #a7a7a7
  $section-border-color = rgba(0,0,0,.12)
  $section-border-width = 4px
  $section-shadow-width = 4px

  width "calc(100% / 9 - %s / 9)" % ($section-border-width * 2)
  padding-bottom "calc(100% / 9 - %s / 9)" % ($section-border-width * 2)  
  position relative
  background #fff
  cursor default
  color darken($base-color, 10%)
  user-select none
  
  &--src
    background linear-gradient(to bottom, #cecece 0%, #dfdfdf 30%, #dfdfdf 100%)
    color #555
  
  .board:not(.-ctrl) &:not(.cell--src)
    &:hover
      background rgba(255,255,255,.8)
  
  &__value
    text-align center
    line-height 0rem
    position absolute
    width 100%
    top 50%
    
    &.-appear
      opacity 0
      transform scale(2, 2)
  
      &.-appear-active
        opacity 1
        transform scale(1, 1)

  for i in 1..81
    &:nth-child({i}) .cell__value.-appear.-appear-active
      transition all .6s .3s + .01s * i
    
  &__border
  &__shadow
    position absolute
    width 100%
    height 100%    
    border 0px solid
  
  
  //
  // Errors
  //
  &--err-row
  &--err-column
    color rgba(255, 255, 255, .75)
    background #c77878

  &--err-self
    color #fff
    background #9c4b4b
    box-shadow inset 0 0 2rem rgba(0,0,0,.25)
  
  
  //
  // Box margins
  //
  &:nth-child(3n):not(:nth-child(9n))
    margin-right $section-border-width
  
  &:nth-child(n+19):nth-child(-n+27)
  &:nth-child(n+46):nth-child(-n+54)    
    margin-bottom $section-border-width
    
  //
  // Box shadows
  //
  &:nth-child(3n)
    .cell__shadow
      border-right-color $section-border-color
      border-right-width $section-shadow-width
  
  &:nth-child(3n+1)//:not(:nth-child(9n+1))
    .cell__shadow
      border-left-color $section-border-color
      border-left-width $section-shadow-width
  
  &:nth-child(n+19):nth-child(-n+27)
  &:nth-child(n+46):nth-child(-n+54)   
  &:nth-child(n+73):nth-child(-n+81)    
    .cell__shadow
      border-bottom-color $section-border-color
      border-bottom-width $section-shadow-width
  
  &:nth-child(n+0):nth-child(-n+9)
  &:nth-child(n+28):nth-child(-n+36)
  &:nth-child(n+55):nth-child(-n+63)
    .cell__shadow
      border-top-color $section-border-color
      border-top-width $section-shadow-width
  
  //
  // Borders
  //
  &:not(:nth-child(3n))
    .cell__border
      border-right 1px solid $cell-border-color
  
  &:nth-child(n+0):nth-child(-n+18)
  &:nth-child(n+28):nth-child(-n+45)
  &:nth-child(n+55):nth-child(-n+72)
    .cell__border
      border-bottom 1px solid $cell-border-color
  
  
  &__marks
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    display flex
    flex-wrap wrap
    z-index 1
    color #5682ae
  
  &__mark    
    width calc((100%) / 3)
    padding-bottom calc((100% - 2px) / 3)
    border-right 1px solid transparent
    border-bottom 1px solid transparent
    position relative
    
    .cell.-has-value &
    .cell--src &
      display none
    
    &:nth-child(3n)
      border-right none
    
    &:nth-child(n+7):nth-child(-n+9)
      border-bottom none
    
    .board.-ctrl .cell:not(.cell--src) &
      border-color rgba(0,0,0,.1)
      
      &:hover
        background rgba(0,0,0,.05)
    
    //&.-filled
      //background rgba(0,0,0,.1)
    
    &-label
      position absolute
      line-height 0
      top 50%
      left 0
      right 0
      text-align center
      font-size .5rem