.btn
  font-size .8em
  color #fff
  background $base-color
  border none
  border-bottom 4px solid darken($base-color, 25%)
  border-radius $border-radius
  text-align center
  padding .35rem 1rem
  cursor default
  
  &:hover
    background darken($base-color, 10%)
    border-color darken($base-color, 35%)